<a href="https://colab.research.google.com/github/Hero0963/data_science_camp_level2/blob/main/dscamp_task02_hw01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

In [2]:
display(df)

     0   1   2   3
0   29  31  33  31
1   27  18  32  32
2   16  31  34  31
3   19  33  34  14
4   16  18  20  35
5   15  34  21  11
6   13  25  34  38
7   36  27  30  15
8   17  24  33  14
9   34  36  33  30
10  11  15  20  39
11  24  20  21  38
12  22  19  19  12
13  10  32  24  10
14  20  32  22  20

In [3]:
# - 1. filtered by first column > 20?
filter_1 = df[0] > 20  
display(df[filter_1])

     0   1   2   3
0   29  31  33  31
1   27  18  32  32
7   36  27  30  15
9   34  36  33  30
11  24  20  21  38
12  22  19  19  12

In [4]:
# - 2. filtered by first column + second column > 50
filter_2 = (df[0] + df[1]) > 50  
display(df[filter_2])

     0   1   2   3
0   29  31  33  31
3   19  33  34  14
7   36  27  30  15
9   34  36  33  30
14  20  32  22  20

In [5]:
# - 3. filtered by first column < 30 or second column > 30
filter_3 = (df[0] < 30) | (df[1] > 30)  
display(df[filter_3])

     0   1   2   3
0   29  31  33  31
1   27  18  32  32
2   16  31  34  31
3   19  33  34  14
4   16  18  20  35
5   15  34  21  11
6   13  25  34  38
8   17  24  33  14
9   34  36  33  30
10  11  15  20  39
11  24  20  21  38
12  22  19  19  12
13  10  32  24  10
14  20  32  22  20

In [6]:
# - 4. filtered by total sum of row > 100
filter_4 = df.sum(axis=1) > 100  
display(df[filter_4])

     0   1   2   3
0   29  31  33  31
1   27  18  32  32
2   16  31  34  31
6   13  25  34  38
7   36  27  30  15
9   34  36  33  30
11  24  20  21  38