<a href="https://colab.research.google.com/github/Hero0963/data_science_camp_level2/blob/main/task02/dscamp_lv2_task02_hw02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#練習：請利用 Pandas 計算給定的資料中不同 weekday 的 visitor 總和為何？

In [1]:
import pandas as pd
import numpy as np

d = [
    {'city': 'Austin', 'visitor': 139, 'weekday': 'Sun'},
    {'city': 'Dallas', 'visitor': 237, 'weekday': 'Sun'},
    {'city': 'Austin', 'visitor': 326, 'weekday': 'Mon'},
    {'city': 'Dallas', 'visitor': 456, 'weekday': 'Mon'}
]

df = pd.DataFrame(d)
display(df)

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

In [2]:
gp_weekday = df.groupby(['weekday'])['visitor'].sum()
res = gp_weekday.to_dict()
display(res)

{'Mon': 782, 'Sun': 376}